<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title + ' | Recall' %></title>
	<link rel="stylesheet" href="/recall.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header>
		<hgroup>
			<h1><a href="/">Recall</a></h1>
			<h2>'cause you're too busy to remember</h2>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		<p><small>Copywright &copySuperCoolProducts 2013</small></p>
	</footer>
</body>
</html>